<%- include("header")  -%>

<div class="container head-title">
    <h1 style="color: black;">Today is <%= day %> </h1>
</div>

<div class="container notes">
    <div class="row">
        <% for( let index = 0; index < newlistitem.length; index++ ) { %>
        <div class="col-md-4 cardsets">
            <div class="card">
                <div class="card-body">
                    <p class="card-text"><%= newlistitem[index] %></p>
                    <form action="/" method="POST">
                        <button type="submit" class="btn btn-dark deleters" name="deleter"
                            value=<%= index %>>Delete</button>
                    </form>

                </div>
            </div>
        </div>
        <% } %>

        <div class="col-md-4 cardsets">
            <div class="card">
                <div class="card-body">
                    <form class="forminput" action="/" method="post">
                        <input class="text" type="text" name="newitem" value="" autocomplete="off">
                        <button class="btn btn-primary btn-light " type="submit" name="adder"
                            value="additem">Add</button>
                    </form>
                </div>
            </div>


        </div>
    </div>
</div>


<%- include("footer")  -%>